In [2]:
print('hello ' 'shyam ')
print('good morning') 
print('how are you ')
print('name: shyam')
print('age: 21')
print('location:jntuh college')

hello shyam
good morning
how are you
name: shyam
age: 21
location:jntuh college

## data types

In [4]:
print(type(1))
print(type(1.0))
print(type('1'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [19]:
name='shyam'
fav_sport='cricket'
fav_player='dhoni'
print(name)
print(fav_sport)
print(fav_player)

shyam
cricket
dhoni

In [13]:
value='shyam'

In [14]:
f"hello {value},how about a movie today"

'hello shyam,how about a movie today'

In [16]:
name=input('enter your name' )
print(f"how are you {name}")

enter your nameshyam
how are you shyam

## variables

In [25]:
var1=3
var2=7
print(var1,var2)

3 7

In [28]:
var2=98
var1=21
print(var1,var2)

21 98

In [34]:
temp=var1
var1=var2
var2=temp
print(var1,var2)

21 98

In [43]:
var1=32
var2=78
var3=prices=78,32
print(var2,var1)

78 32

In [44]:
var2=prices
prices=var1
var1=var2
print(var1,var2)

(78, 32) (78, 32)

## types of operators

In [38]:
print(f'1+2 ={1+2} = addition')
print(f'1/2 ={1/2} = division')
print(f'1//2 ={1//2} = floor division')
print(f'1*2 ={1*2} = multiplicaton')
print(f'1-2 ={1-2} = subraction')
print(f'1%2 = {1%2} =modulus')
print(f'1**2 = {1**2} = exponentation')

1+2 =3 = addition
1/2 =0.5 = division
1//2 =0 = floor division
1*2 =2 = multiplicaton
1-2 =-1 = subraction
1%2 = 1 =modulus
1**2 = 1 = exponentation