In [1]:
dict_1={}
type({})

dict

In [2]:
dict_=dict()
dict_

{}

In [3]:
dict_={'key':1,'key1':[1,2,3,4,5],1:[1,2,3,4,5],'key':2}
dict_

{'key': 2, 'key1': [1, 2, 3, 4, 5], 1: [1, 2, 3, 4, 5]}

In [4]:
dict_={'word':21,'word21':[1,2,3,4],21:[1,2,3,4]}
type(dict_)
dict_

{'word': 21, 'word21': [1, 2, 3, 4], 21: [1, 2, 3, 4]}

In [21]:
d={}
d['person1']=['shyam','m','kmm']
d['person2']=['monalisa','f','kmm']
print(d ['person1'])
d

['shyam', 'm', 'kmm']

{'person1': ['shyam', 'm', 'kmm'], 'person2': ['monalisa', 'f', 'kmm']}

In [5]:
customer_database={'name':[],'gender':[],'age':[]}
customer_database

{'name': [], 'gender': [], 'age': []}

In [7]:
customer_database['name'].append('shyam')
customer_database

{'name': ['shyam'], 'gender': [], 'age': []}

In [10]:
l='name','age','gender'
l

('name', 'age', 'gender')

In [28]:
customer_database=dict().fromkeys(l,[])
customer_database['name'].append('hi')
customer_database

{'name': ['hi'], 'age': ['hi'], 'gender': ['hi']}

In [24]:
customer_database.popitem()

('name', ['hi'])

In [3]:
# create dictonary and check if the given value in the dictonary
info={'key':[1,2,3],'key2':'orange','key3':'apple'}
for i in info.values():
    if type(i) is list:
        
        print (type(i))
if 'apple' in info.values():
    print('key3')
else:
    print('key1','key2')

<class 'list'>
key3

In [1]:
# merging dictonaries in one line

d1={'key1':1}
d2={'key2':2}
d3={'key3':3}
d4={'key4':4}
merge_dict=dict(**d1,**d2,**d3,**d4)
print(merge_dict)

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [2]:
#list comphrension
# concise for lops
x=[1 for i in range(1,11)]
x

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
y=[i if i%2==0 else "odd" for i in range(1,101)]
y

['odd',
 2,
 'odd',
 4,
 'odd',
 6,
 'odd',
 8,
 'odd',
 10,
 'odd',
 12,
 'odd',
 14,
 'odd',
 16,
 'odd',
 18,
 'odd',
 20,
 'odd',
 22,
 'odd',
 24,
 'odd',
 26,
 'odd',
 28,
 'odd',
 30,
 'odd',
 32,
 'odd',
 34,
 'odd',
 36,
 'odd',
 38,
 'odd',
 40,
 'odd',
 42,
 'odd',
 44,
 'odd',
 46,
 'odd',
 48,
 'odd',
 50,
 'odd',
 52,
 'odd',
 54,
 'odd',
 56,
 'odd',
 58,
 'odd',
 60,
 'odd',
 62,
 'odd',
 64,
 'odd',
 66,
 'odd',
 68,
 'odd',
 70,
 'odd',
 72,
 'odd',
 74,
 'odd',
 76,
 'odd',
 78,
 'odd',
 80,
 'odd',
 82,
 'odd',
 84,
 'odd',
 86,
 'odd',
 88,
 'odd',
 90,
 'odd',
 92,
 'odd',
 94,
 'odd',
 96,
 'odd',
 98,
 'odd',
 100]

In [8]:
import random

data=[random.randint(1,100)for i in range(100)]

def max_(list_):
    """function to calculate the max number and return the no parameter:
    list_1d collection"""
    max_value=list_[0]
    for i in list_:# check each and every value in container
         if i<max_value:# 
            max_value=i
    return max_value

In [9]:
max_(data)

1

In [17]:
import random

data=[random.randint(1,100)for i in range(100)]

def min_(list_):
    """function to calculate the min number and return the no parameter:
    list_1d collection"""
    min_value=list_[1]
    for i in list_:
         if i>min_value: 
            min_value=i
    return min_value

In [18]:
min_(data)

100

In [1]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
set1={"yellow","orange",}
set2={"orange","black"}
set1.difference_update(set2)
print(set1)

{'yellow'}